.chart-container.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .chart-container.dark-mode {
    background-color: #2b2b2b;
    color: #ffffff;
  }
  
  .input-container input.ticker-input.light-input,
  .indicator-dropdown.light-dropdown,
  .fetch-button.light-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
  }
  
  .input-container input.ticker-input.dark-input,
  .indicator-dropdown.dark-dropdown,
  .fetch-button.dark-button {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
  }
  
  .error-message.light-error {
    color: #ff0000;
  }
  
  .error-message.dark-error {
    color: #ff8080;
  }

  .light-mode-h1 {
    color: #363636; /* Light mode text color */
}

.dark-mode-h1 {
    color: #ffffff; /* Dark mode text color */
}
  
body {
    margin: 0;
    padding: 0;
  }
  
  body.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark-mode {
    background-color: #1e1e1e; /* Dark mode background */
    color: #ffffff;
  }
  